  


img.main-text {
    float: left;
    max-width: 50%;
    height: auto;
}

img.side-img {
    max-width: 60%;
    height: auto;
}

.navbar
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.navbar-brand{
    color: #ffff;
    background-color: teal;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.nav-selection{
    padding:10px;
}

.main-background{
    background-color: lightgrey;
    margin-top: 10px;
   padding: 20px;

}

.display-boxes {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    
}

.main-headings{
    font-family: 'Times New Roman', Times, serif;
    color: teal;
    display: flex;
}

.text-details{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
}

.copyright-ribbon{
    background-color: gray;   
    color: white;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid white;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {background-color: lightgray;}

/* Adds media queries to show the drop-down, and hide the navbar when the screen is smaller than 480px.
@media(max-width:480px){
    .navbar li{
        padding: 10px;
    }
}

.post{
    margin-right: 30px;
    margin-left: 30px;
}

.navbar ul{
    visibility: hidden;
}

#nav-select {
    visibility: visible;
}